.carrousel {
  position: absolute;
  transform: scale(0);
  transition: transform .25s;
  width: 50%;
  height: 50%;
  top: 40%;
  left: 25%;
  border: 3px solid #00f;
  background-color: rgba(0, 0, 0, .1);
  z-index: 2;
}

.carrousel__x {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 6px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  z-index: 10;
}

.carrousel__figure {
  width: 100%;
  height: 100%;
  position: relative;
}

.carrousel__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.carrousel--ouvrir {
  transform: scale(1);
}

.carrousel__form {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}