.carrousel {
  position: fixed;
  transform: scale(0);
  transition: transform 0.25s;
  width: 50%;
  height: 50%;
  top: 30%;
  left: 30%;
  border: 3px solid #00f;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.carte .carrousel {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  z-index: 1;
}

.carrousel__x {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 6px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  z-index: 10;
}

.carrousel__figure {
  width: 100%;
  height: 100%;
  position: relative;
}

.carrousel__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.carrousel--ouvrir {
  transform: scale(1);
}

.carrousel__form {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.carrousel__fleches {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carrousel__fleche-gauche {
  left: 0;
}

.carrousel__fleche-droite {
  right: 0;
}

@media screen and (max-width: 768px) {
  .carrousel {
    width: 70%;
    height: 70%;
    left: 10%;
  }
}
@media screen and (max-width: 500px) {
  .carrousel {
    width: 80%;
    height: 80%;
    left: 10%;
  }
}